
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* navbar styles */
header {
    max-width: 1200px;
    margin: 0 auto;
    
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.nav-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}
.nav-item{
    display: flex;
    gap: 20px;
}
.nav-item li{
    list-style: none;
    
}
.nav-item a{
    text-decoration: none;
    font-weight: 600;
    color: #3A3A3A;
}

/* banner part */
.head-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    max-width: 1200px;
    
}
.head-title{
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
}
.head-description{
     font-weight: 600;
    color: #3A3A3A;
    padding-bottom: 15px;
}

.bg-img{
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center; */
    max-width: 475px;
    height: 475px;
    
}
.btn-primary{
    font-weight: 700;
    background-color: rgba(224, 44, 109, 1);
    padding: 10px 24px 10px 24px;
    border: none;
    color: #FFFFFF;
    border-radius: 50px;
}

.sponsor{
    display: flex;
    justify-content: center;
    max-width: 1110px;
    margin: 0 auto;
    /* text-align: center; */
    gap: 60px;
    margin-top: 70px;
    margin-bottom: 100px;
    padding: 20px 0px;
    border: 1px solid tomato;
    /* border-radius: 0 2px 8px rgba(192, 204, 218, 0.10); */
}

.card-section{
     max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 100px;
    
}
.card{
    max-width: 300px;
    padding: 17px 14px 20px 14px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.card-head-title{
    /* display: flex; */
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.card-head{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}

.card-title{
    font-size: 1.75rem;
    font-weight: 500;
    color: rgba(24, 25, 31, 1);
}
.card-price{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}
.star{
    height: 12px;
    width: 12px;
    gap: 0;
}
.ratting{
    font-size: 0.9rem;
    font-weight: 600;
    color: rgba(94, 99, 102, 1);
}
.card-description{
    color: rgba(120, 120, 133, 1);
     font-size: 0.9rem;
    font-weight: 600;
}
.see-more{
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
}
.featured-section{
    
}
.featured{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    gap: 100px
}

.featured-title{
    font-weight: 700;
    font-size: 2.30rem;
    color: #0A0826;
    margin-bottom: 15px;
    margin-top: 30px;
}
.featured-description{
    font-weight: 700;
    color: #6C6C6C;
    margin-bottom: 15px;
}
.btn{
     font-weight: 700;
     color: #FFFFFF;
     padding: 10px 25px;
     background-color:  rgba(224, 44, 109, 1);
     border: none;
}

@media screen and (max-width: 576px) {
    .nav-section{
        flex-direction: column;
        justify-content: center;
    }
    .nav-item{
        flex-direction: column;
        gap: 10px;
    }
    .nav-title{
        margin-bottom: 20px;
    }

    .head-section{
        flex-direction: column-reverse;
        text-align: center;
    }
    

    .sponsor{
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-head{
       grid-template-columns: repeat(1, 1fr);
       justify-content: center;
       padding-left: 15px;
    }

    .see-more{
        text-align: center;
    }
    .featured{
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav-section{
        flex-direction: column;
        gap: 20px;
    }
     .head-section{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }
    .sponsor{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card-head{
       grid-template-columns: repeat(2, 1fr);
       justify-content: center;
    }
     .see-more{
        text-align: center;
    }

    .featured{
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
    }
}



